/* body style */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* style for main-page*/
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
    width: 100px;
    height: 100px;
}

.heading {
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item img {
    width: 300;
    height: 300px;
    border-radius: 8px;
    border: solid 4px rgb(226, 178, 96);

}

.container-item a {
    margin-top: 10px;
    text-decoration: none;
    color: black;    
    font-weight: bold;
}
/* style for recipe-pages */
.recipe-title-image,
.recipe-description,
.recipe-ingredients,
.recipe-steps,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-text {
    width: 600px;
    align-self: center;
    text-align: left;
}

.ingredients-list,
.recipe-steps-list {
    font-weight: 100;
    width: 650px;
    list-style-position: inside;
    text-align: left;
}

.recipe-steps {
    padding-bottom: 50px;
    margin: 30px;
}

.footer {
    background-color: rgb(226, 178, 96);
    padding: 30px;
}

li {
    line-height: 25px;
}